In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('DS102_Lap1/forestfires.csv')
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

Preprocessing data

In [4]:
df. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    object
 3   day     517 non-null    object
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

In [11]:
def convert_month(month : str) -> int:
    month_dict = {
        'jan' : 1,
        'feb' : 2,
        'mar' : 3,
        'apr' : 4,
        'may' : 5,
        'jun' : 6,
        'jul' : 7,
        'aug' : 8,
        'sep' : 9,
        'oct' : 10,
        'nov' : 11,
        'dec' : 12
    }
    return month_dict[month]

In [18]:
def convert_day (day : str) -> int:
    """Converts a day of the week from a string to an integer (0-6).
    """
    day_dict = {
        'sun' : 0,
        'mon' : 1,
        'tue' : 2,
        'wed' : 3,
        'thu' : 4,
        'fri' : 5,
        'sat' : 6
    }
    return day_dict[day]

In [12]:
df['month'] = df['month'].apply(convert_month)

In [19]:
df['day'] = df['day'].apply(convert_day)

In [20]:
df.head()

   X  Y  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5      3    5  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4     10    2  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4     10    6  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6      3    5  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6      3    0  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [ ]:
class LinearRegression:
    def fit(self , X : np.ndarray, Y : np.ndarray) -> None:
        cov = X.T @ X
        inv_cov = np.linalg.inv(cov)
        #self.theta_ : np.ndarray = np.matmul(int_cov, np.matmul(X.T,Y))
        self.theta_ : np.ndarray = inv_cov @ (X.T @ Y)
    
    def rmse(self, y : np.ndarray , y_hat : np.ndarray) -> float:
        delta = y -y_hat
        return (delta**2).mean()**0.5
    
    def predict (self, X: np.ndarray) -> np.ndarray:
        y_pred = np.matmul(self.theta_.T, X.T)
        return y_pred

In [22]:
lr = LinearRegression()

Defining the input and output vector

In [28]:
X_y = df.to_numpy()

In [30]:
X_y.shape

(517, 13)

In [32]:
N = df.shape[0]
X_y_train , X_y_test = np.split (X_y, indices_or_sections=[int (0.8 * N)])